policy_module(voltnote, 1.100.1)

########################################
#
# Declarations
#

type voltnote_t;
type voltnote_exec_t;
init_daemon_domain(voltnote_t, voltnote_exec_t)

permissive voltnote_t;

type voltnote_initrc_exec_t;
init_script_file(voltnote_initrc_exec_t)

type voltnote_conf_t;
files_type(voltnote_conf_t)

type voltnote_var_lib_t;
files_type(voltnote_var_lib_t)

type voltnote_var_run_t;
files_type(voltnote_var_run_t)

type voltnote_port_t;
corenet_port(voltnote_port_t)

########################################
#
# voltnote local policy
#
allow voltnote_t self:process { fork };

allow voltnote_t self:fifo_file rw_fifo_file_perms;
allow voltnote_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(voltnote_t, voltnote_conf_t, voltnote_conf_t)
manage_files_pattern(voltnote_t, voltnote_conf_t, voltnote_conf_t)

manage_dirs_pattern(voltnote_t, voltnote_var_lib_t, voltnote_var_lib_t)
manage_files_pattern(voltnote_t, voltnote_var_lib_t, voltnote_var_lib_t)
files_var_lib_filetrans(voltnote_t, voltnote_var_lib_t, { dir file })

manage_dirs_pattern(voltnote_t, voltnote_var_run_t, voltnote_var_run_t)
manage_files_pattern(voltnote_t, voltnote_var_run_t, voltnote_var_run_t)

sysnet_dns_name_resolve(voltnote_t)
corenet_all_recvfrom_unlabeled(voltnote_t)

allow voltnote_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(voltnote_t)
corenet_tcp_sendrecv_generic_node(voltnote_t)
corenet_tcp_sendrecv_all_ports(voltnote_t)
corenet_tcp_bind_generic_node(voltnote_t)

gen_require(`
    type voltnote_port_t;
')
allow voltnote_t voltnote_port_t:tcp_socket name_bind;

gen_require(`
    type voltnote_port_t;
')
allow voltnote_t voltnote_port_t:tcp_socket name_connect;

domain_use_interactive_fds(voltnote_t)

files_read_etc_files(voltnote_t)

miscfiles_read_localization(voltnote_t)

sysnet_dns_name_resolve(voltnote_t)

allow voltnote_t voltnote_exec_t:file execute_no_trans;
allow voltnote_t self:process setsched;
corecmd_exec_ls(voltnote_t)
corenet_tcp_connect_http_port(voltnote_t)
dev_read_urand(voltnote_t)
fs_getattr_xattr_fs(voltnote_t)
kernel_read_system_state(voltnote_t)
