# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=VOLTNOTE Daemon SNAP
Comment=testnet
GenericName=VOLTNOTE Digital Currency Daemon Client testnet network
Exec=voltnote-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/voltnote_testnet.png
MimeType=x-scheme-handler/vtn;
Categories=X-Office;X-Finance;
Keywords=internet;voltnote;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
