# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=VOLTNOTE
Comment=VOLTNOTE QT main network
GenericName=VOLTNOTE Digital Currency QT client main network
Exec=voltnote-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/voltnote.png
MimeType=x-scheme-handler/voltnote;
Categories=X-Office;X-Finance;
Keywords=internet;voltnote;vtn;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
